.productListItem {
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: .25rem;

    img {
        transition: ease-in-out .2s;
    }

    :hover img {
        transform: scale(1.05);
    }
    
}

.image-container {
    display: flex;
    padding: .5rem;
    align-items: flex-end;
    flex-grow: 1;

    @media screen and (min-width: 1024px) {
        padding: 1rem;
    }
}