.cart {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    padding: 1rem;
    position: relative;
}

.header {
    display: flex;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 1rem;
    
    ol {
        margin: 0;
    }

    li {
        font-size: 1.15rem;
    }
}

.counter {
    color: white;
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    transform: translateY(1rem) translateX(.5rem)
}

.dropdown {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: .5rem;

    button {
        background-color: rgba(0, 0, 0, 0);
        color: black;
        border: none;
    }
}

.product-resume {
    font-size: 10px;
    display: flex;
    gap: .25rem;
}