.productDetailContainer{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.productDetailWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-grow: 1;
}